<app-header></app-header>

<div class="container">
  <h2>Clientes</h2>

  <hr class="mb-3">

  <div class="bg-light p-3 shadow">
    <button [routerLink]="'/clientes/registro'" class="btn btn-success btn-sm" type="button">
      <i class="fa fa-plus-circle me-1"></i>Agregar
    </button>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ngx-datatable class="material striped mt-3"
                     [rows]="clientes"
                     [columnMode]="'force'"
                     [headerHeight]="50"
                     [footerHeight]="50"
                     [limit]="10"
                     [rowHeight]="'auto'"
                     [reorderable]="'reorderable'"
                     [scrollbarH]="true"
                     style="table-layout: fixed">

        <ngx-datatable-column name="Raz&oacute;n Social" prop="razonSocial" [width]="300">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tipo Documento" prop="tipoDocumento" [width]="150">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nro Documento" prop="numeroDocumento" [width]="150">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Direcci&oacute;n" prop="direccion" [width]="300">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Contacto" prop="nombreContacto" [width]="300">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Email" prop="emailContacto" [width]="300">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span>{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="" prop="id" [width]="150">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button [routerLink]="'/clientes/registro/' + value" class="btn btn-warning btn-sm me-1 text-white">
              <i class="fa fa-edit"></i>
            </button>
            <button (click)="eliminar(row)" class="btn btn-danger btn-sm me-1">
              <i class="fa fa-times"></i>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

</div>
