/* You can add global styles to this file, and also import other style files */
/*@import "../src/assets/css/@swinlane/ngx-datatable/index.css";
@import "../src/assets/css/@swinlane/ngx-datatable/themes/material.css";
@import "../src/assets/css/@swinlane/ngx-datatable/themes/bootstrap.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";*/

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

datatable-scroller {
  width: 100% !important;
}

.toast-top-center {
  margin-top: 8px;
}
